.home-container {
  margin-top: 10px;
}

.home-content {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  display: flex;
}

.home-intro {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-intro h1 {
  font-weight: 300;
  color: #333;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.home-intro p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 200;
  font-size: 1.1rem;
}

.home-img {
  max-width: 100%;
  flex: 8;
}
.home-img img {
  height: auto;
  max-width: 100%;
}

/* Platform */
.home-platform {
  background-color: #fafafa;
  margin-top: 100px;
}

.home-platform-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  /* width: 90%; */
}

.platform-title {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.platform-subtitle {
  font-size: 16px;
  margin-top: 10px;
}

.platform-list {
  margin-top: 24px;
  /* min-width: 1200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.platform-item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: left;
  justify-content: center;
  width: 100%;
  height: 400px;
  padding-left: 10px;
  padding-right: 20px;
}

.platform-item-img {
  display: flex;
  min-width: 600px;
  width: 600px;
  max-width: 600px;
}

.platform-content {
  min-width: 500px;
  width: 500px;
  max-width: 500px;
}

.platform-info {
    color: #666;
}

.platform-item:nth-child(2) {
    flex-direction: row;
}
