.container {
  padding: 5% 5%;
  width: 100%;
  background-color: #000000;
  
}
.main-container {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins';
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  background: url('https://assets.nflxext.com/ffe/siteui/vlv3/e316821f-7177-48f4-b748-e44a8b0840df/28a7b0fe-d967-4970-9e03-b1205d7a7131/VN-en-20220406-popsignuptwoweeks-perspective_alpha_website_large.jpg')
    no-repeat center/cover;
}
.main-container::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0.1;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: auto;
  /* padding-left: 30px; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-movies {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    margin-top: 20px;
}

.brands {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.brands1 {
  background: #09ac5a;
  height: 70px;
  max-width: 100%;
  display: grid;
  place-items: center;
  border-radius: 16px;
}
.logo {
  position: relative;
  z-index: 2;
  height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.movie-description {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.discover {
  background-image: linear-gradient(150deg, #e50914 30%, #ff3dce 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-left: 100px
}
