.header-container {
    height: 90px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 5px #aaaaaa;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    
}

.header-content {
    height: 100%;
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    
}

.header-logo {
    cursor: pointer;
}

.header-menu {
    margin-right: 20%;
}

.header-list {
    display: block;
    list-style: none;
    justify-content: space-between;
}

.header-item {
    display: inline-block;
    margin-right: 20px;
}

.header-item a{
   text-decoration: none;
   color: black;
}


.header-item :hover {
    cursor: pointer;
    color: #20467e;
    text-decoration: underline;
}